<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../styles.css"></link>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="../assets/scripts.js"></script>
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <form class="registrosemillas form-horizontal" >
        <label for="seedname" >Nombre Semilla</label>
          <input type="text" name="seedname" class="rellenar">
        <label for="usuario" >Email Usuario</label>
          <input type="text" name="usuario" class="rellenar2">
        <button id="btlogin" type="button" class="btn btn-default">Ingresar</button>
        <button type="submit" class="btn btn-default">Cancelar</button>
      </form>
    </div>
  </body>
</html>
