h1 {
  color:#0000cc;
  font:verdana;
  font-size:16px;
  font-style:bold;
}

h2 {
  color:#0000cc;
  font:verdana;
  font-size:14px;
  font-style:italic;
}

input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #708090;
}

div {
    border-radius: 5px;
    background-color: #B0E0E6;
    padding: 20px;
}
